$border-color: #ddd;

.board{
	padding: 20px;
	display: inline-block;
	text-align: left;

	.turns{
		display: table;

		.turn{
			display: table-row;

			.turnNum, .code, .feedback{
				display: table-cell;
				vertical-align: middle;
				padding-left: 15px;
				padding-right: 15px;
				border-bottom: 1px solid $border-color;
			}

			&.active{
				.turnNum, .code, .feedback{
					border-bottom: 0px;
				}

				form{
					.hidden{
						display: none;
					}
				}
			}

			.turnNum, .code{
				border-right: 1px solid $border-color;
			}
		}
	}
}