$border-color: #ddd;

.board{
	padding: 20px;
	display: inline-block;
	text-align: left;

	.turns{
		display: table;

		.turn{
			display: table-row;

			.turnNum, .code, .feedback{
				display: table-cell;
				vertical-align: middle;
				padding-left: 15px;
				padding-right: 15px;
				border-bottom: 1px solid $border-color;
			}

			&.active{
				.turnNum, .code, .feedback{
					border-bottom: 0px;
				}

				form{
					.hidden{
						display: none;
					}

					.submit{
					  font-size: 12px;
					  padding: 5px 10px;
					  color: #555;
					  background: #f7f7f7;
					  border-radius: 0px;
					  border: 1px solid darken(#f7f7f7, 20%);
					  cursor: pointer;
					  outline: none;

					  &:hover{
					  	background: darken(#f7f7f7, 10%);
					  	transition: all ease-in-out 400ms;
					  }
					}
				}
			}

			.turnNum, .code{
				border-right: 1px solid $border-color;
			}
		}
	}
}