$color0:#f7f7f7;
$color1:#4ECDC4;
$color2:#B4FF8C;
$color3:#FF6B6B;
$color4:#FFE66D;
$color5:#BF93BD;
$color6:#1A535C;

.code{
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 0;
	box-sizing: border-box;
	width: 100%;

	.peg-holder{
		width: 25%;
		text-align: center;
		display: inline-block;
		vertical-align: middle;
		padding: 0px 5px;
		box-sizing: border-box;
		position: relative;
	}

	.peg{
		width: 100%;
    height: auto;
    padding: 45%;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 50%;

		.right, .left{
			position: absolute;
			background: transparent;
			padding: 0;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			z-index: 999;
			outline: none;
			border: none;
		}

		.left{
			display: none;
		}

    &.peg-0{
    	background: $color0;
    	border: 2px solid darken($color0, 5%);
    }
		&.peg-1{
			background: $color1;
			border: 2px solid darken($color1, 5%);
		}
		&.peg-2{
			background: $color2;
			border: 2px solid darken($color2, 5%);
		}
		&.peg-3{
			background: $color3;
			border: 2px solid darken($color3, 5%);
		}
		&.peg-4{
			background: $color4;
			border: 2px solid darken($color4, 5%);
		}
		&.peg-5{
			background: $color5;
			border: 2px solid darken($color5, 5%);
		}
		&.peg-6{
			background: $color6;
			border: 2px solid darken($color6, 5%);
		}
	}
}

.feedback{
	font-size: 0;
	padding: 0;

	.peg{		
		width: 35%;
    display: inline-block;
    text-align: center;
    padding: 3px 0;

    span{
			width: 12px;
			height: 12px;
			box-sizing: border-box;
			display: inline-block;
			border-radius: 50%;
			padding: 2px;
    }

		&.peg-1 span{
			background: #fff;
			border: 2px solid #000;
		}
		&.peg-2 span{
			background: #000;
			border: 2px solid #000;
		}
	}
}

.answer{
	padding: 0 92px 20px 39px;
	box-sizing: border-box;
	max-width: 600px;

	&.animate-finished{
		display: none;
	}

	.code{
		padding: 10px 15px 10px 15px;
	}
}


@media all and (min-width: 480px){
	.code{
		.peg-holder{
			padding: 15px;
		}

		.peg{
			margin: 0 auto;
		}
	}
}

@media all and (min-width: 767px){
	.code{
		padding: 0; 

		.peg-holder{
			padding: 20px 30px; 
		}

		.peg{
			width: 100%;
	    height: auto;
	    padding: 45%;
	    box-sizing: border-box;
	    display: inline-block;
	    border-radius: 50%;

			.right,.left{
				width: 50%;
				height: 100%;
				display: block;
				cursor: pointer;

				&:after{
					position: absolute;
					content: "";
					width: 0;
					height: 0;
					top: 50%;
					transform: translateY(-50%);
					border-top: 7px solid transparent;
					border-bottom: 7px solid transparent;
					cursor: pointer;
				}
			}

			.right{
				&:after{
					right: 25%;
					border-left: 7px solid #ddd;
					border-right: none;
				}

				&:hover{
					&:after{
						border-left: 7px solid #000;
					}
				}
			}

			.left{
				left: 0;

				&:after{
					left: 25%;
					border-right: 7px solid #ddd;
					border-left: none;
				}

				&:hover{
					&:after{
						border-right: 7px solid #000;
					}
				}
			}
		}
	}
	.answer{
		padding: 0 111px 0 59px;
	}
}