body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.App {
  margin: 50px auto 0;
  text-align: center; }
  .App .popup {
    position: absolute;
    z-index: 99;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.5);
    padding: 40px;
    max-width: 250px;
    margin: 0 auto;
    box-shadow: 5px 6px 20px rgba(0, 0, 0, 0.5); }
    .App .popup h3 {
      font-weight: 400; }
    .App .popup button {
      font-size: 14px;
      padding: 7px 15px;
      color: #000;
      background: #f7f7f7;
      border-radius: 0px;
      border: 1px solid #c4c4c4;
      cursor: pointer; }
  .App .admin-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #f7f7f7;
    border-bottom: 1px solid #ddd;
    padding: 10px 5px;
    font-size: 11px; }
    .App .admin-bar .item {
      padding: 5px 5px;
      display: inline-block; }
    .App .admin-bar .score {
      display: inline-block;
      background: #fb8383;
      border: 1px solid #e43636;
      color: #fff;
      font-weight: 300;
      margin-right: 5px; }
      .App .admin-bar .score .item {
        padding: 5px 10px;
        display: inline-block; }
        .App .admin-bar .score .item.player1 {
          border-right: 1px solid #e43636; }
      .App .admin-bar .score .label {
        padding: 5px; }

@media all and (min-width: 480px) {
  .App {
    margin: 50px auto 0; }
    .App .admin-bar {
      font-size: 12px; }
      .App .admin-bar > .item {
        margin-left: 25px; }
      .App .admin-bar .score {
        margin-right: 10px; } }

.board {
  padding: 20px 5px;
  display: inline-block;
  text-align: left; }
  .board .turns {
    display: table;
    max-width: 600px; }
    .board .turns .turn {
      display: table-row; }
      .board .turns .turn .turnNum, .board .turns .turn .code, .board .turns .turn .feedback {
        display: table-cell;
        vertical-align: middle;
        padding-left: 15px;
        padding-right: 15px;
        border-bottom: 1px solid #ddd; }
      .board .turns .turn.active .turnNum, .board .turns .turn.active .code, .board .turns .turn.active .feedback {
        border-bottom: 0px; }
      .board .turns .turn.active form .hidden {
        display: none; }
      .board .turns .turn.active form .submit {
        font-size: 12px;
        padding: 5px 10px;
        color: #555;
        background: #f7f7f7;
        border-radius: 0px;
        border: 1px solid #c4c4c4;
        cursor: pointer;
        outline: none; }
        .board .turns .turn.active form .submit:hover {
          background: #dedede;
          transition: all ease-in-out 400ms; }
      .board .turns .turn .turnNum, .board .turns .turn .code {
        border-right: 1px solid #ddd; }

@media all and (min-width: 767px) {
  .board {
    padding: 25px; }
    .board .turns .turn .turnNum, .board .turns .turn .feedback {
      padding-left: 25px;
      padding-right: 25px; } }

.code {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 0;
  box-sizing: border-box;
  width: 100%; }
  .code .peg-holder {
    width: 25%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    padding: 0px 5px;
    box-sizing: border-box;
    position: relative; }
  .code .peg {
    width: 100%;
    height: auto;
    padding: 45%;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 50%; }
    .code .peg .right, .code .peg .left {
      position: absolute;
      background: transparent;
      padding: 0;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 999;
      outline: none;
      border: none; }
    .code .peg .left {
      display: none; }
    .code .peg.peg-0 {
      background: #f7f7f7;
      border: 2px solid #eaeaea; }
    .code .peg.peg-1 {
      background: #4ECDC4;
      border: 2px solid #3ac7bd; }
    .code .peg.peg-2 {
      background: #B4FF8C;
      border: 2px solid #a3ff73; }
    .code .peg.peg-3 {
      background: #FF6B6B;
      border: 2px solid #ff5252; }
    .code .peg.peg-4 {
      background: #FFE66D;
      border: 2px solid #ffe254; }
    .code .peg.peg-5 {
      background: #BF93BD;
      border: 2px solid #b683b3; }
    .code .peg.peg-6 {
      background: #1A535C;
      border: 2px solid #144148; }

.feedback {
  font-size: 0;
  padding: 0; }
  .feedback .peg {
    width: 35%;
    display: inline-block;
    text-align: center;
    padding: 3px 0; }
    .feedback .peg span {
      width: 12px;
      height: 12px;
      box-sizing: border-box;
      display: inline-block;
      border-radius: 50%;
      padding: 2px; }
    .feedback .peg.peg-1 span {
      background: #fff;
      border: 2px solid #000; }
    .feedback .peg.peg-2 span {
      background: #000;
      border: 2px solid #000; }

@media all and (min-width: 480px) {
  .code .peg-holder {
    padding: 15px; }
  .code .peg {
    margin: 0 auto; } }

@media all and (min-width: 767px) {
  .code {
    padding: 0; }
    .code .peg-holder {
      padding: 20px 30px; }
    .code .peg {
      width: 100%;
      height: auto;
      padding: 45%;
      box-sizing: border-box;
      display: inline-block;
      border-radius: 50%; }
      .code .peg .right, .code .peg .left {
        width: 50%;
        height: 100%;
        display: block;
        cursor: pointer; }
        .code .peg .right:after, .code .peg .left:after {
          position: absolute;
          content: "";
          width: 0;
          height: 0;
          top: 50%;
          transform: translateY(-50%);
          border-top: 7px solid transparent;
          border-bottom: 7px solid transparent;
          cursor: pointer; }
      .code .peg .right:after {
        right: 25%;
        border-left: 7px solid #ddd;
        border-right: none; }
      .code .peg .right:hover:after {
        border-left: 7px solid #000; }
      .code .peg .left {
        left: 0; }
        .code .peg .left:after {
          left: 25%;
          border-right: 7px solid #ddd;
          border-left: none; }
        .code .peg .left:hover:after {
          border-right: 7px solid #000; } }
